ruby:
  preloader_style = []
  preloader_style << "position: fixed"
  preloader_style << "left: 0px"
  preloader_style << "top: 0px"
  preloader_style << "right: 0px"
  preloader_style << "bottom: 0px"
  preloader_style << "z-index: 9999"
  preloader_style << "overflow: visible"
  preloader_style << "background: #e53935 no-repeat center center"

  spinner_style = []
  spinner_style << "width: 60px"
  spinner_style << "height: 60px"
  spinner_style << "top: 50%"
  spinner_style << "margin-top: -20px"
  spinner_style << "left: 50%"
  spinner_style << "margin-left: -20px"
  spinner_style << "position: relative"

  circle1_style = []
  circle1_style << "background-color: #FF8682"
  circle1_style << "width: 20px"
  circle1_style << "height: 20px"
  circle1_style << "position: absolute"
  circle1_style << "top: 20px"
  circle1_style << "left: 20px"
  circle1_style << "border-radius: 50%"
  circle1_style << "-webkit-border-radius: 50%"
  circle1_style << "-moz-border-radius: 50%"
  circle1_style << "-webkit-animation: circlebounce 1.8s infinite ease-in-out"
  circle1_style << "animation: circlebounce 1.8s infinite ease-in-out"

  circle2_style = []
  circle2_style << "background-color: #FFB8B4"
  circle2_style << "width: 20px"
  circle2_style << "height: 20px"
  circle2_style << "position: absolute"
  circle2_style << "top: 20px"
  circle2_style << "left: 20px"
  circle2_style << "border-radius: 50%"
  circle2_style << "-webkit-border-radius: 50%"
  circle2_style << "-moz-border-radius: 50%"
  circle2_style << "-webkit-animation: circlebounce2 1.8s infinite ease-in-out"
  circle2_style << "animation: circlebounce2 1.8s infinite ease-in-out"

#preloader{style="#{preloader_style.join(";")}"}
  .spinner{style="#{spinner_style.join(";")}"}
    .circle1{style="#{circle1_style.join(";")}"}
    .circle2{style="#{circle2_style.join(";")}"}

  css:
    @-webkit-keyframes circlebounce {
      0% {
        -webkit-transform: scale(0);
      }
      25% {
        z-index: 2;
      }
      50% {
        -webkit-transform: scale(2);
      }
      75% {
        z-index: 1;
      }
      100% {
        -webkit-transform: scale(0);
      }
    }

    @keyframes circlebounce {
      0% {
        -webkit-transform: scale(0);
      }
      25% {
        z-index: 2;
      }
      50% {
        -webkit-transform: scale(2);
      }
      75% {
        z-index: 1;
      }
      100% {
        -webkit-transform: scale(0);
      }
    }

    @-webkit-keyframes circlebounce2 {
      0% {
        -webkit-transform: scale(2);
      }
      25% {
        z-index: 1;
      }
      50% {
        -webkit-transform: scale(0);
      }
      75% {
        z-index: 2;
      }
      100% {
        -webkit-transform: scale(2);
      }
    }

    @keyframes circlebounce2 {
      0% {
        -webkit-transform: scale(2);
      }
      25% {
        z-index: 1;
      }
      50% {
        -webkit-transform: scale(0);
      }
      75% {
        z-index: 2;
      }
      100% {
        -webkit-transform: scale(2);
      }
    }