= text_field_tag 'navigation_filter', '', placeholder: 'Filter...', class: 'navigation_filter_field', autofocus: (action_name=="dashboard"), style: 'margin-left: 10px'
span.clear_navigation_filter_field= 'clear'
