ul.nav.nav-pills.nav-stacked.main-navigation= hancock_main_navigation
- if Hancock.rails_admin2?
  ul.nav.nav-pills.nav-stacked.root-navigation= hancock_root_navigation
ul.nav.nav-pills.nav-stacked.static-navigation= static_navigation
