.btn:focus, .btn:active
  color: #fff
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125)
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125)

.btn#remove_filter, .btn.btn-remove, .btn.btn-danger, .btn.cancel-action
  background-color: #ef5350
  border-color: #ea1c18

.btn#remove_filter:hover, .btn.btn-remove:hover, .btn.btn-danger:hover, .btn.cancel-action:hover
  background-color: #ea1c18
  border-color: #bd1511

.btn#remove_filter:focus, .btn#remove_filter:active, .btn.btn-remove:focus, .btn.btn-remove:active
  background-color: #ef5350
  border-color: #ea1c18

.btn.btn-danger:focus, .btn.btn-danger:active, .btn.cancel-action:active, .btn.cancel-action:focus
  background-color: #ef5350
  border-color: #ea1c18

.btn-primary, .btn#remove_filter
  margin-left: 0px
  z-index: 2
  position: relative

.btn
  background-color: #9ccc65
  border-color: #7eb73d
  color: #fff

.btn:hover
  background-color: #7eb73d
  border-color: #649130
  color: #fff

.btn:focus, .btn:active
  background-color: #9ccc65
  border-color: #7eb73d
  color: #fff

.btn
  display: inline-block
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: 0px solid transparent
  padding: 8px 14px
  font-size: 14px
  line-height: 16px
  +border-radius(.25rem)
  +transition(all 0.2s ease-in-out)

.btn:focus, .btn:active:focus, .btn.active:focus
  outline: 0px
  outline-offset: 0px

.btn#remove_filter
  padding: 8px 12px

.btn.btn-default
  background-color: #ef5350
  border-color: #ea1c18
  &:hover, &:focus
    background-color: #ea1c18
    border-color: #bd1511
  &:active
    background-color: #ef5350
    border-color: #ea1c18

.btn.btn-info
  background-color: #26c6da
  border-color: #1c97a6
  &:hover, &:focus
    background-color: #1c97a6
    border-color: #15707b
  &:active
    background-color: #26c6da
    border-color: #1c97a6

.btn-rounded
  +border-radius(50px)

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus
  background-color: #ef5350
  border-color: #ea1c18
