body.devise
  background: $white
  +display-flex()
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  color: $black

  #root
    +display-flex()
    -webkit-box-flex: 1
    -ms-flex: 1 0 auto
    flex: 1 0 auto
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row

  .aside
    +display-flex()
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-flex: 1
    -ms-flex: 1 0 auto
    flex: 1 0 auto
    max-width: 605px
    padding: 48px 56px
    background-image: image-url("hancock/devise/devise.jpg")
    +cover-image()
    header
      -webkit-box-flex: 0
      -ms-flex: none
      flex: none
    .content
      -webkit-box-flex: 1
      -ms-flex: 1 0 auto
      flex: 1 0 auto
      +display-flex()
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
    footer
      -webkit-box-flex: 0
      -ms-flex: none
      flex: none
      .container
        +display-flex()
        -webkit-box-pack: justify
        -ms-flex-pack: justify
        justify-content: space-between
      a
        font-size: 12px
        text-decoration: none
        margin-right: 32px
        display: inline-block
        color: rgba(255, 255, 255, 0.7)
        position: relative
        &:after
          display: block
          content: ''
          position: absolute
          bottom: 0
          top: 16px
          left: 0
          width: 0%
          +transition(width 0.3s ease)
      a:hover
        color: $white
        &:after
          border-bottom: 1px solid $white
          opacity: 0.3
          width: 100%


  h3
    color: $white
    font-size: 32px
    font-weight: 500

  h4
    font-size: 18px
    font-weight: 300
    margin: 24px 0 56px 0
    color: rgba(255, 255, 255, 0.7)

  #content
    -webkit-box-flex: 1
    flex: 1 auto
    -ms-flex: 1 0 0px
    min-width: 0
    padding: 48px 48px
    background: $white
    max-width: 100%
    +display-flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

  h2
    font-size: 32px
    color: #67666e
    font-weight: 500
    margin-bottom: 80px

  form
    width: 100%
    max-width: 450px
    .actions
      +display-flex()
      -webkit-box-pack: justify
      -ms-flex-pack: justify
      justify-content: space-between
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      margin: 3rem 0

  .hancock-cms-link
    text-align: center
    font-size: 12px
    padding: 20px 0px 0px
    color: rgba(255,255,255,0.8)