@-webkit-keyframes flash-fade-in
  from
    +transform(translate(0px, 50px))
    opacity: 0
  to
    +transform(translate(0, 0))
    opacity: 1

@-moz-keyframes flash-fade-in
  from
    +transform(translate(0px, 50px))
    opacity: 0
  to
    +transform(translate(0, 0))
    opacity: 1

@-o-keyframes flash-fade-in
  from
    +transform(translate(0px, 50px))
    opacity: 0
  to
    +transform(translate(0, 0))
    opacity: 1

@keyframes flash-fade-in
  from
    +transform(translate(0px, 50px))
    opacity: 0
  to
    +transform(translate(0, 0))
    opacity: 1

.flash
  margin: 0px 0px
  padding: 0px 0
  width: 300px
  z-index: 99999
  position: fixed
  right: 10px
  bottom: 10px
  margin-left: 0px
  .alert
    +animation(flash-fade-in 1s)
    +animation-iteration-count(1)
    +animation-fill-mode(forwards)

.flash
  &.recaptcha_error
    display: none

  .message
    +border-radius(3px)
    behavior: url('/PIE.htc')
    text-align: center
    margin: 10px auto 0px
    color: white
    font-family: 'Roboto-regular', Tahoma, Sans-Serif
    position: relative
    a.close_flash
      cursor: pointer
      position: absolute
      color: #ffffff
      font-size: 16px
      right: 2px
      top: 2px
      width: 16px
      height: 16px
      line-height: 16px
      font-weight: bold
      text-shadow: none
      text-decoration: none
      font-family: Arial
      +transition(color 0.3s ease-in-out)
      &:hover
        color: #333
    p
      margin: 10px
      color: white
      font-size: 15px
      line-height: 1.4

  .success
    border: 1px solid #009357
    background: #02bb6f
    +background(linear-gradient(top, #02bb6f, #019f4b))
    text-shadow: 0px 1px #006d1c
    a.close_flash
      color: #004b2c

  .notice
    border: 1px solid #69b3d1
    background: #79cdee
    +background(linear-gradient(top, #79cdee, #56b6e5))
    text-shadow: 0px 1px #248cd1
    a.close_flash
      color: #2f5f72

  .warning
    border: 1px solid #ce8f4b
    background: #fbae5c
    +background(linear-gradient(top, #fbae5c, #f9903b))
    text-shadow: 0px 1px #f57024
    a.close_flash
      color: #865623

  .error, .alert
    border: 1px solid #ce4549
    background: #f0565b
    +background(linear-gradient(top, #f0565b, #e83639))
    text-shadow: 0px 1px #d71012
