#page-header
  position: fixed
  margin: 0 auto
  width: 100%
  background-color: #fff
  +transition(padding 0.3s ease-in-out)

#page-header .content-header
  display: block
  text-align: left
  margin: 0 auto
  padding: 0px
  height: 50px

@media all and (min-width: 920px)
  #page-header
    padding-left: 252px

.toggle-sidebar, .plugin-name-panel, .user-panel
  display: inline-block
  vertical-align: top

.toggle-sidebar
  background: transparent
  border: 0px solid
  width: 50px
  height: 50px
  text-align: center
  padding: 15px 5px
  +transition(all 0.3s ease-in-out)
  i
    line-height: 20px
  &:before, &:after
    content: ""
    font-family: 'FontAwesome'
    display: inline-block
    vertical-align: top
    line-height: 20px
    font-size: 16px
    margin: 0px 3px
  &:before
    content: "\f104"
    font-size: 16px
  &:after
    content: "\f105"
    font-size: 0px
  &:hover
    background: #eee

.plugin-name-panel
  padding: 15px 10px
  line-height: 20px

.breadcrumbs
  position: relative
  margin-left: 25px
  .breadcrumb
    padding: 15px 10px
    line-height: 20px
    list-style: none
    background-color: transparent
    +border-radius(0px)
    font-size: 12px
    margin-bottom: 0px

.user-panel
  float: right

.current_user
  display: inline-block
  vertical-align: top
  width: 50px
  height: 50px
  &:hover
    .user_info
      +transform(scale(1))
      +box-shadow(0 10px 10px -10px rgba(0,0,0,0.5))
    .user_icon
      background: #eee

.user_icon
  width: 50px
  height: 50px
  +display-flex-center
  +transition(all 0.3s)
  i
    cursor: default
    font-size: 26px

.user_info
  +transition(all 0.3s)
  +transform(scale(0))
  +box-shadow(0 0 0 0 rgba(0,0,0,0.5))
  position: absolute
  display: block
  transform-origin: top right
  right: 0
  background: #eee
  list-style: none
  margin: 0px
  padding: 7px 10px
  overflow: hidden
  li
    padding: 7px 15px
    font-size: 14px
    a
      text-transform: none
      text-decoration: none
      +transition(all 0.3s)
      &:before
        display: inline-block
        font-family: FontAwesome
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        box-sizing: border-box
        margin-right: 7px
      &:hover
        color: #ff2b58
  .user-logout-action
    border-top: 1px solid rgba(170,170,170,0.5)
    a
      &:before
        content: "\f011"
  .user-edit-action
    a
      &:before
        content: "\f040"
  .user_email
    text-transform: lowercase
    text-align: center
    margin-bottom: 7px