@import 'hancock/rails_admin/blocks/elements/tabs'
@import 'hancock/rails_admin/blocks/elements/buttons'

.admin-content
  +transition(padding 0.3s ease-in-out)
  padding-left: 0px

@media all and (min-width: 920px)
  .admin-content
    padding-left: 252px

#dashboard-table
  background-color: #fff
  box-shadow: 0 1px rgba(0,0,0,.03)
  padding: 10px
  margin-bottom: 25px
  .progress
    height: 17px
    display: flex
    overflow: hidden
    line-height: 20px
    text-align: center
    background-color: #e9ecef
    +box-shadow(inset 0 0px 0px rgba(0, 0, 0, 0.0))
  .progress-bar
    line-height: 17px
    font-size: 11px
  table.table tbody > tr > td
    padding: 8px 10px

#block-tables
  background-color: #fff
  box-shadow: 0 1px rgba(0,0,0,.03)
  padding: 10px
  margin-bottom: 25px
  h2
    font-size: 18px
    margin-top: 0px
    margin-bottom: 10px
    padding: 5px 10px

#main-container
  overflow-x: hidden
  margin-bottom: -60px
  min-height: 100%
  min-height: 100vh
  padding-top: 50px
  &:after
    content: ""
    height: 60px
    width: 100%
    display: block
    position: relative
  .admin-wrapper
    margin: 0 auto
    padding: 0px 10px 1px
    width: 100%
    overflow-x: visible
    position: relative
  .page-titles
    width: 100%
  .page-title
    font-size: 16px
    padding: 5px 0px
    margin: 0
    line-height: 22px
    border-bottom: 1px solid rgba(0,0,0,0.05)
  .breadcrumb
    font-size: 12px
    line-height: 18px
    padding: 10px 5px
    margin-bottom: 0px
    margin-top: 0px
    list-style: none
    background-color: transparent
    border-radius: 0px
    a
      color: #575757
    a:hover
      color: #2f2f2f
  .total-count
    font-size: 12px
    width: 100%
    text-align: right
    padding-right: 10px

@media (min-width: 768px)
  #main-container .admin-wrapper
    margin: 0 auto
    padding: 0px 24px 1px
    width: 100%
    overflow-x: visible

#filters_box
  a, a:hover, a:active, a:focus
    color: #fff

.admin-wrapper > .content > h4
  font-size: 16px
  line-height: 22px

.admin-wrapper > .content
  .delete_notice
    margin: 0px 0px 25px 0px
    padding: 0
  .delete_notice_title
    font-size: 16px
    display: block
    margin-top: 15px
    margin-bottom: 0px