- if defined?(title) && !title.blank?
  meta{property='og:title'.freeze content=title}
- if defined?(image) && !image.blank?
  meta{property='og:image'.freeze content="http://#{request.host_with_port}#{image}".freeze}
