/ http://realfavicongenerator.net/faq#.VxlagR8VxCW

- data = {:rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon'}
= favicon_link_tag '/favicon.ico', data
- data = {:rel => 'shortcut icon', :type => 'image/png'}
= favicon_link_tag '/favicon.png', data

- data = {:rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon'}
= favicon_link_tag '/favicons/favicon.ico', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '16x16'}
= favicon_link_tag '/favicons/favicon-16x16.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '32x32'}
= favicon_link_tag '/favicons/favicon-32x32.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '96x96'}
= favicon_link_tag '/favicons/favicon-96x96.png', data

- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '36x36'}
= favicon_link_tag '/favicons/android-chrome-36x36.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '48x48'}
= favicon_link_tag '/favicons/android-chrome-48x48.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '72x72'}
= favicon_link_tag '/favicons/android-chrome-72x72.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '96x96'}
= favicon_link_tag '/favicons/android-chrome-96x96.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '144x144'}
= favicon_link_tag '/favicons/android-chrome-144x144.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '192x192'}
= favicon_link_tag '/favicons/android-chrome-192x192.png', data

- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '70x70'}
= favicon_link_tag '/favicons/mstile-70x70.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '144x144'}
= favicon_link_tag '/favicons/mstile-144x144.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '150x150'}
= favicon_link_tag '/favicons/mstile-150x150.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '310x310'}
= favicon_link_tag '/favicons/mstile-310x310.png', data
- data = {:rel => 'shortcut icon', :type => 'image/png', :sizes => '310x150'}
= favicon_link_tag '/favicons/mstile-310x150.png', data

- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '57x57'}
= favicon_link_tag '/favicons/apple-touch-icon-57x57-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '60x60'}
= favicon_link_tag '/favicons/apple-touch-icon-60x60-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'}
= favicon_link_tag '/favicons/apple-touch-icon-72x72-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '76x76'}
= favicon_link_tag '/favicons/apple-touch-icon-76x76-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '120x120'}
= favicon_link_tag '/favicons/apple-touch-icon-120x120-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'}
= favicon_link_tag '/favicons/apple-touch-icon-144x144-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '152x152'}
= favicon_link_tag '/favicons/apple-touch-icon-152x152-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '180x180'}
= favicon_link_tag '/favicons/apple-touch-icon-180x180-precomposed.png', data
- data = {:rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '57x57'}
= favicon_link_tag '/favicons/apple-touch-icon-precomposed.png', data
- data = {:rel => 'apple-touch-icon', :type => 'image/png', :sizes => '57x57'}
= favicon_link_tag '/favicons/apple-touch-icon.png', data
