ruby:
  _opts = {}
  _opts[:rows] = 10
  _opts[:cols] = 80
  _opts[:class] = 'form-control'
  _opts[:value] = field.formatted_value
  _opts[:style] = "font-family: monospace"
  
= form.text_area field.string_method, _opts
