.content-header
  = link_to dashboard_path, title: "Hancock CMS".freeze, class: "admin-title".freeze
    = image_tag "hancock/rails_admin/hancock_logo.svg", title: "Hancock CMS".freeze, alt: "Hancock CMS".freeze, class: "hancock-main-logo"
