.navbar-brand
  margin-left: 0 !important

.input-small
  width: 150px

.container-fluid
  input[type=text]
    width: 380px !important
  input.ra-filtering-select-input[type=text]
    width: 180px !important
  input.hasDatepicker
    width: 180px !important

.sidebar-nav
  a
    padding: 6px 10px !important
    &.nav-level-1
      padding-left: 30px !important
    &.nav-level-2
      padding-left: 60px !important
    &.nav-level-3
      padding-left: 90px !important

  .dropdown-header
    padding: 10px 0px 3px 9px

.label-important
  background-color: #d9534f
.alert-notice
  color: #5bc0de

.page-header
  display: none
.breadcrumb
  margin-top: 20px

.control-group
  clear: both

.container-fluid
  padding-left: 0
  > .row
    margin: 51px 0px 0px 0px !important

.last.links
  a
    display: inline-block
    padding: 3px
    font-size: 20px

.remove_nested_fields
  opacity: 1 !important

body.rails_admin .modal
  margin: 0 auto !important
  .modal-dialog
    width: 990px !important

input[type=checkbox]
  width: 30px !important

.nav.root_links

  > li
    display: inline-block

.dropdown-header
  border-top: 2px solid #777777
  text-align: right

  &:first-child
    border-top: none

.bank_row .logo_field, #edit_bank img
  background: #ccc !important

.ui-menu-item
  border: 1px solid transparent

.content > .alert
  margin-top: 20px

.badge-important
  background: red
.badge-success
  background: green

.sidebar-nav
  // margin-top: 51px
  i
    margin-right: 5px

  .nav
    li
      display: none
      &.dropdown-header
        cursor: pointer
        display: block
        &.opened
      &.visible
        display: block


body.rails_admin .table td.paperclip_type, body.rails_admin .table td.carrierwave_type, body.rails_admin .table td.jcrop_type
  img
    max-width: 150px
    max-height: 100p


#list
  .input-group
    .input-group-btn
      .btn-info
        height: 33px

.table-condensed
  > tbody, > thead
    > tr
      > td
        padding: 6px 4px 0px 5px

        &.toggle_type
          padding-top: 14px

@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition

@mixin transition-property($property...)
  -moz-transition-property:    $property
  -o-transition-property:      $property
  -webkit-transition-property: $property
  transition-property:         $property

@mixin transition-duration($duration...)
  -moz-transition-property:    $duration
  -o-transition-property:      $duration
  -webkit-transition-property: $duration
  transition-property:         $duration

@mixin transition-timing-function($timing...)
  -moz-transition-timing-function:    $timing
  -o-transition-timing-function:      $timing
  -webkit-transition-timing-function: $timing
  transition-timing-function:         $timing

@mixin transition-delay($delay...)
  -moz-transition-delay:    $delay
  -o-transition-delay:      $delay
  -webkit-transition-delay: $delay
  transition-delay:         $delay



.app-header
  display: block
  position: relative
  z-index: 1000
  height: 50px
  width: 100%

.app-header.fixed
  position: fixed
  left: 0
  top: 0
  right: 0

.app-header-inner
  background-color: #EF5350
  color: #fff
  height: 50px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

.brand-title
  display: inline-block
  text-align: center
  float: left
  width: 250px
  padding: 0
  box-sizing: border-box
  box-shadow: 0px -2px 5px rgba(0,0,0,0.32)
  h2
    font-weight: bold
    font-size: 20px
    line-height: 28px
    margin: 10px 0px 10px 0px
    cursor: pointer
    a
      text-decoration: none
      color: #fff
      span
        img
          max-height: 30px

#hancock_logo
  fill: #fff

.top-nav-left
  display: inline-block
  font-size: 16px
  line-height: 50px
  float: left

.top-nav-right
  display: inline-block
  font-size: 16px
  line-height: 50px
  float: right

.top-nav-logout, .top-nav-user_root_link, .top-nav-goto-home, .top-nav-control-panel, .top-nav-project
  width: 50px
  height: 50px
  position: relative
  text-align: center
  line-height: 50px
  font-size: 24px
  cursor: pointer
  @include transition(background-color .5s, color 2s)
  &:hover
    background-color: rgba(0,0,0,0.1)
    color: #f1f1f1
  a
    text-decoration: none
    display: block !important
    padding: 0 !important
    margin: 0 !important
    heigth: 50px !important
    span
      height: 50px
      line-height: 50px
      display: inline-block
      i
        color: #fff

.root_links
  li
    overflow: hidden

.top-nav-project
  overflow: hidden

.sitemap_root_link
  box-sizing: border-box
  width: 50px
  overflow: inherit !important
  a
    color: #fff
    text-decoration: none
    height: 50px
    display: block
    width: 50px
    font-size: 0
    &::before
      display: inline-block
      font-family: FontAwesome
      font-size: 24px
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      content: "\f277"
      box-sizing: border-box
      line-height: 50px
      color: #fff
    span
      display: inline-block
      height: 50px
      margin: 0
      padding: 0
      position: relative
      top: -4px
      color: #fff
      font-size: 14px
      font-weight: bold

.sitemap_root_link
  &::after
    content: "Перегенерировать карту сайта"
    opacity: 0
    font-size: 11px
    height: 20px
    line-height: 20px
    position: absolute
    left: 0
    width: 170px
    color: #000
    border: 1px solid #000
    background: #fff

.sitemap_root_link
  &:hover
    &::after
      opacity: 1

.top-nav-project
  width: auto
  box-sizing: border-box
  padding-left: 15px
  padding-right: 15px
  a
    color: #fff
    text-decoration: none
    height: 50px
    display: block
    &::before
      display: inline-block
      font-family: FontAwesome
      font-size: 24px
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      content: "\f108"
      box-sizing: border-box
      margin-right: 10px
      color: #fff
    span
      display: inline-block
      height: 50px
      margin: 0
      padding: 0
      position: relative
      top: -4px
      color: #fff
      font-size: 14px
      font-weight: bold

.top-nav-user_root_link
  width: auto
  a
    color: #fff
    box-sizing: border-box
    padding-left: 15px !important
    padding-right: 15px !important
    &::before
      display: inline-block
      font-family: FontAwesome
      font-size: 24px
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      content: "\f007"
      box-sizing: border-box
      margin-right: 10px
      color: #fff
      height: 50px
      line-height: 50px
    img
      display: none
    span
      display: inline-block
      height: 50px
      margin: 0
      padding: 0
      position: relative
      top: -4px
      color: #fff
      font-size: 14px
      font-weight: bold

// ----------------------------------
// rails-admin sidebar navifation begin

.sidebar-nav.hancock-nav
  width: 250px
  background-color: #333C44 !important
  color: #fff
  box-shadow: 1px 0 2px rgba(0,0,0,0.15)
  display: block
  z-index: 99
  position: fixed
  left: 0
  bottom: 0
  top: 0 !important
  height: 100vh
  width: 250px
  overflow: auto
  box-sizing: border-box
  padding-top: 50px !important
  padding-bottom: 25px
  position: relative
  ul.nav-pills
    li.dropdown-header
      padding: 10px 15px 10px
    li
      overflow: hidden
      border: 0px
      color: #c1c1c1 !important
      margin-top: 0px !important
      @include transition(color 0.5s)
      a
        color: #c1c1c1
        line-height: 24px
        @include transition(color 0.5s)
        background: rgba(0,0,0,0.16)
        &::before
          display: inline-block
          font-family: FontAwesome
          font-size: 12px
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          content: "\f0da"
          box-sizing: border-box
          margin-left: 10px
          margin-right: 10px
          color: #c1c1c1
        &::after
          position: absolute
          width: 100%
          opacity: 0
          height: 100%
          top: 0
          left: 0
          content: ""
          background: rgba(0,0,0,0.16)
          @include transition(opacity 0.5s cubic-bezier(0,0.1,0.3,1.0))
      &:hover
        color: #fff !important
        a
          color: #fff !important
          &::before
            color: #fff
          //   opacity: 1
          //   z-index: -1
    .dropdown-header
      &::after
        display: inline-block
        font-family: FontAwesome
        font-size: 12px
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        // content: "\f077"
        content: "\f078"
        box-sizing: border-box
        margin-left: 12px
        color: #c1c1c1
      &::before
        position: absolute
        width: 100%
        opacity: 0
        height: 100%
        top: 0
        right: 0
        content: ""
        background: rgba(0,0,0,0.16)
        @include transition(opacity 0.5s cubic-bezier(0,0.1,0.3,1.0))
      &:hover
        background: transparent
        &::before
          opacity: 1
          z-index: -1
        &::after
          color: #fff
    .dropdown-header.opened
      background: rgba(0,0,0,0.16)
      &::after
        display: inline-block
        font-family: FontAwesome
        font-size: 12px
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        content: "\f077"
        // content: "\f078"
        box-sizing: border-box
        margin-left: 12px
        color: #c1c1c1
      &::before
        position: absolute
        width: 100%
        height: 100%
        opacity: 0
        top: 0
        left: 0
        content: ""
        background: rgba(0,0,0,0.16)
        @include transition(opacity 0.5s cubic-bezier(0,0.1,0.3,1.0))
      &:hover
        &::before
          opacity: 1.0
          z-index: -1
        &::after
          color: #fff
    .visible.active
      background: rgba(0,0,0,0.16)
    .visible


// rails-admin sidebar navifation end
// ----------------------------------


.container-fluid
  padding-right: 0px !important
  .row
    margin: 0 !important

.sidebar-content
  margin: 0 !important
  width: 100%
  box-sizing: border-box
  padding: 10px 10px 10px 260px !important

// ----------------------------------
// ripple-effect style begin

.ripple
  overflow: hidden

.ripple-effect
  position: absolute
  border-radius: 50%
  width: 50px
  height: 50px
  background: white
  animation: ripple-animation 2s

@keyframes ripple-animation
  from
    transform: scale(1)
    opacity: 0.4

  to
    transform: scale(100)
    opacity: 0

// ripple-effect style end
// ----------------------------------

tr.rails_admin_settings_setting_row
  td.raw_field
    img
      max-width: 300px
