td.other
  a
    font-size: 0
  a:before
    font-family: FontAwesome
    font-size: 12px
    margin-left: 20px

td.other.right
  a:before
    content: "\f051"

td.other.left
  a:before
    content: "\f048"