.btn,
a.btn,
button.btn,
input[type='submit']
  +inline-flex()
  +align-items(center)
  +justify-content(center)
  font-weight: 400
  text-align: center
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: #fff
  background-color: #0c5ce1
  border: 1px solid #0b57d5
  padding: 5px 13px
  font-size: 13px
  line-height: 20px
  border-radius: 0
  outline: 0!important
  align-items: center
  text-decoration: none
  width: auto
  &:hover, &:focus
    color: #fff
    background-color: #0c61ed
    border-color: #0c5ce1
    text-decoration: none
  i
    font-size: 18px
    line-height: 20px
  &.disabled
    pointer-events: none
    background-color: lighten(#0c5ce1, 20%)
    border-color: lighten(#0c5ce1, 20%)
  &.btn-success
    background-color: #1dc9b7
    border-color: #1dc9b7
    color: #fff
    &:hover, &:focus
      color: #fff
      background-color: #18a899
      border-color: #179c8e
    &.disabled
      background-color: lighten(#1dc9b7, 20%)
      border-color: lighten(#1dc9b7, 20%)
  &.btn-primary
    color: #fff
    background-color: #5867dd
    border-color: #5867dd
    &:hover, &:focus
      color: #fff
      background-color: #384ad7
      border-color: #2e40d4
    &.disabled
      background-color: lighten(#5867dd, 20%)
      border-color: lighten(#5867dd, 20%)
  &.btn-secondary
    background-color: transparent
    border: 1px solid #e2e5ec
    color: #595d6e
    &:hover, &:focus
      color: #fff
      background-color: #2c77f4
      border-color: #2c77f4
    &.disabled
      background-color: lighten(#e2e5ec, 10%)
      border-color: lighten(#e2e5ec, 10%)
  &.btn-info
    background-color: #5578eb
    border-color: #5578eb
    color: #fff
    &:hover, &:focus
      color: #fff
      background-color: #335de7
      border-color: #2754e6
    &.disabled
      background-color: lighten(#5578eb, 20%)
      border-color: lighten(#5578eb, 20%)
  &.btn-warning
    background-color: #ffb822
    border-color: #ffb822
    color: #111
    &:hover, &:focus
      color: #212529
      background-color: #fbaa00
      border-color: #eea200
    &.disabled
      background-color: lighten(#ffb822, 20%)
      border-color: lighten(#ffb822, 20%)
  &.btn-danger
    background-color: #fd397a
    border-color: #fd397a
    color: #fff
    &:hover, &:focus
      color: #fff
      background-color: #fd1361
      border-color: #fc0758
    &.disabled
      background-color: lighten(#fd397a, 20%)
      border-color: lighten(#fd397a, 20%)
  &.btn-mini
    font-size: 11px
    line-height: 16px

.btn-success
  background-color: #1dc9b7
  border-color: #1dc9b7
  color: #fff
  &:hover, &:focus
    color: #fff
    background-color: #18a899
    border-color: #179c8e
.btn-primary
  color: #fff
  background-color: #5867dd
  border-color: #5867dd
  &:hover, &:focus
    color: #fff
    background-color: #384ad7
    border-color: #2e40d4
.btn-secondary
  background-color: transparent
  border: 1px solid #e2e5ec
  color: #595d6e
  &:hover, &:focus
    color: #fff
    background-color: #2c77f4
    border-color: #2c77f4
.btn-info
  background-color: #5578eb
  border-color: #5578eb
  color: #fff
  &:hover, &:focus
    color: #fff
    background-color: #335de7
    border-color: #2754e6
.btn-warning
  background-color: #ffb822
  border-color: #ffb822
  color: #111
  &:hover, &:focus
    color: #212529
    background-color: #fbaa00
    border-color: #eea200
.btn-danger
  background-color: #fd397a
  border-color: #fd397a
  color: #fff
  &:hover, &:focus
    color: #fff
    background-color: #fd1361
    border-color: #fc0758
.btn-mini
  font-size: 11px
  line-height: 16px

.btn-with-icon
  i
    margin-right: 10px
    width: auto

.icon-btn
  width: 35px

.btn ~ .btn,
.btn ~ .extra_buttons
  margin-left: 10px

.btn-group,
.btn-group-vertical
  +display-flex()
  +align-items(stretch)
  a
    +inline-flex()
    cursor: pointer