.form-inline .input-group
  +display-flex()
  +align-items(stretch)
  input.form-control
    +inline-flex()
    box-shadow: none
    border: 1px solid #e2e5ec
    border-radius: 0
    outline: 0
    font-size: 13px
    &:focus
      color: #495057
      background-color: #fff
      border-color: #669cf7
  span.input-group-btn
    +display-flex()

.hancock_shrine_type .controls .image_block
  img
    box-shadow: none
    border: 1px solid #e2e5ec
    border-radius: 0
    outline: 0
    &:focus
      color: #495057
      background-color: #fff
      border-color: #669cf7

.form-inline
  select.form-control
    +inline-flex()
    box-shadow: none
    border: 1px solid #e2e5ec
    border-radius: 0
    outline: 0
    font-size: 13px
  select.input-sm
    height: auto
    +inline-flex()
    line-height: 1.5
    padding: 8px 13px 7px

input
  @extend .form-control

textarea
  @extend input
  height: auto
  min-height: 250px

.form-control::-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder, #file_contents::-moz-placeholder, .form-group.hancock_html_type .controls .medium-editor-element::-moz-placeholder, .form-group.hancock_hash_type .controls .hash_element_block input::-moz-placeholder, .form-group.hancock_hash_type .controls .hash_element_block textarea::-moz-placeholder
  color: #e2e5ec
  opacity: 1

.form-control:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, #file_contents:-ms-input-placeholder, .form-group.hancock_html_type .controls .medium-editor-element:-ms-input-placeholder, .form-group.hancock_hash_type .controls .hash_element_block input:-ms-input-placeholder, .form-group.hancock_hash_type .controls .hash_element_block textarea:-ms-input-placeholder
  color: #e2e5ec

.form-control::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, #file_contents::-webkit-input-placeholder, .form-group.hancock_html_type .controls .medium-editor-element::-webkit-input-placeholder, .form-group.hancock_hash_type .controls .hash_element_block input::-webkit-input-placeholder, .form-group.hancock_hash_type .controls .hash_element_block textarea::-webkit-input-placeholder
  color: #e2e5ec