.form-horizontal .form-group .controls
  &.hancock_pages_page_possible_insertions
    flex: 0 0 70%
    max-width: 70%

dl.possible_insertions_list
  +display-flex()
  +flex-flow(row wrap)
  dt
    flex: 0 0 60%
    min-width: 60%
    +display-flex()
    +align-items(center)
    margin: 2px 0px
    span
      font-size: 13px
      font-weight: 400
      color: #646c9a
      flex: 0 0 50%
      min-width: 50%
    input
      cursor: text
  dd
    +display-flex()
    +align-items(center)
    +flex-flow(row wrap)
    flex: 0 0 30%
    min-width: 30%
    padding: 3px 10px
    overflow-x: auto
    border: 1px solid #fafafa
    margin: 2px 0px

  dd::-webkit-scrollbar
    width: 8px
    height: 8px

  dd::-webkit-scrollbar-track
    background-color: #e2e5ec
    +border-radius(0px)
    width: 10px
    padding: 1px

  dd::-webkit-scrollbar-thumb
    background-color: #5578eb
    +border-radius(0px)
